
/*------------------------------*/
/* #CUSTOM PROPERTIES  1. */ 
/*------------------------------*/

:root {

/* -----COLOR-PALETTE------ */

/* Primary */
--primary100: #FE5B55;
--primary200: #FFE8E7;

/* Secondary */
--secondary100: #FB9332;
--secondary200: #FDB26F;
--secondary300: #FFEEDF;


/* Neutrals */
--neutral100: #ffffff;
--neutral200: #bfbfbf;
--neutral300: #7f7f7f;
--neutral400: #404040;
--neutral500: #000000;

/* Box-Shadows */
  --b-shadow01: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

/* Background */
--bg01: #FFF9F9; 
--bg02:  #232323;


/*---------TYPOGRAPHY-------- */

/* Font-Sizes */
/* Font Sizing with Rem Units */
--ff-Alegreya-sans: 'Alegreya Sans', sans-serif;
--fs-1: 0.625rem;  /*10px*/
--fs-2: 0.75rem;   /*12px*/
--fs-3: 0.875rem;  /*14px*/
--fs-4: 1rem;      /*16px (base)*/
--fs-5: 1.125rem;  /*18px*/
--fs-6: 1.25rem;   /*20px*/
--fs-7: 1.5rem;    /*24px*/
--fs-8: 1.875rem;  /*30px*/
--fs-9: 2rem;      /*32px*/

/* Font-Weight */
--fw-100: 100;
--fw-300: 300;
--fw-400: 400;
--fw-500: 500;
--fw-700: 700;
--fw-800: 800;

/* Border-Radius */
--b-radius-6: 6px;
--b-radius-10: 10px;
--b-radius-12: 12px;
--b-radius-15: 15px;


/* PureCSS favors em for its default widths instead of px to support zooming on webpages */
/* break-points: */
/*  35.5em;   < 568xpx */
/*  48em;   >= 768px */
/*  64em;   >= 1024px */
/*  80em;   >= 1280px */
/*  120em;   >= 1920px */
/*  160em;   >= 2560px */
/*  240em;   >= 3840px */
}




/*------------------------------*/
/* #GLOBAL STYLES 3. */
/*------------------------------*/

/*------------------------------*/
/* #PAGE LAYOUT 4. */
/*------------------------------*/

/*------------------------------*/
/* #FORMS 5. */
/*------------------------------*/







.header-wrapper-mobile-menu {
  color: var(--neutral500);
  font-size: var(--fs-7);
  transition: 1s all;
}


/*------------------------------*/
/* #HEADER */
/*------------------------------*/

.header {
  background: var(--bg01);
  display: flex;
  position: fixed;
  top: 0;
}

.nav-wrapper {
  display: flex;
  padding: 14px;
  width: 100vw;
  box-shadow: var(--b-shadow01);
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
}

.navbar-link {
  color: var(--neutral100);
  font-family: var(--ff-Alegreya-sans);
  font-weight: var(--fw-100);
  font-size: var(--fs-5);
}

.main-navigation-logo {
font-family: var(--ff-Alegreya-sans);
font-size: var(--fs-4);
font-weight: var(--fw-700);
}


/* **** mobile toggling menu **** */

button.main-navigation__mobile-menu {
  color: var(--primary100);
  background: none;
  z-index: 9999;
  font-size: var(--fs-5);
}


.main-navigation__menu{
  background: rgb(33, 33, 33);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
  width: clamp(200px, 40%, 360px);
  height: 100%;
  padding: 20px;
  transform: translateX(100%); 
  transition: .7s ease-in-out;
  cursor: pointer;
}

.main-navigation__menu[data-visible="true"] {
  transform: translateX(0%);
  transition: .7s ease-in-out;
}

.navbar-login {
  background: var(--primary100);
  color: var(--neutral100);
  border-radius: var(--b-radius-10);
  font-family: var(--ff-Alegreya-sans);
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  padding: 10px 28px;
}

/* **** **** **** */




/*------------------------------*/
/* #MAIN CONTENT 6. */
/*------------------------------*/

/* #HERO-SECTION */

main {
  margin: 80px 0 0 0;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.image-wrapper {
  width: clamp(150px, 100%, 800px);
  /* margin: 0 0 10px 0; */
}

.hero-img {
  display: block;
  width: 100%;
}

.hero-caption {
  background: var(--secondary300);
  color: var(--secondary100);
  font-family: var(--ff-Alegreya-sans);
  text-align: center;
  max-width: 150px;
  padding: 6px 10px;
  border-radius: var(--b-radius-6);
  margin: 0 0 6px 0;
}

.hero h1{
  color: var(--neutral400);
  font-size: var(--fs-9);
  font-weight: var(--fw-700);
  margin: 0 0 12px 0;
}

.hero__accent {
  color: var(--secondary100);
}

.hero p {
  font-family: var(--ff-Alegreya-sans);
  font-weight: var(--fw-400);
  font-size: var(--fs-6);
  line-height: 1.4;
  margin: 0 0 12px 0;
}

.hero__hero-buttons {
  display: flex;
  gap: 20px;
}

.order-food-btn,.contact-us-btn {
  font-family: var(--ff-Alegreya-sans);
  display: inline-block;
  border-radius: var(--b-radius-6);
  padding: 14px 18px;
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
}

.order-food-btn {
  background: var(--primary100);
  color: var(--primary200);
}

.contact-us-btn {
  background: var(--neutral100);
  border: 1px solid var(--primary100);
  color: var(--primary100);
}


.block-item {
background-color: green;
height: 400px;
}

/*------------------------------*/
/* #FOOTER 7. */
/*------------------------------*/






/*------------------------------*/
/* #MEDIA-QUERIES 8 */
/*------------------------------*/

/* Small devices such as large phones (576px and up) */
/* @media only screen and (min-width: 35.5em) {
} */


